#info{
    display: grid;
  grid-template-columns: auto auto;
}
#left-info{
    margin-top: 15px;
    text-align: end;
    margin-right: 15px;
}
#right-info{
    text-align:start;
}
#full-panel{
    display: grid;
  grid-template-columns: 70% 30%;
  
}
#left{
    text-align: center;
    
}
#right{
    text-align: center;
}
#left img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
#photos{
    padding-top: 15px;
    padding-bottom: 15px;
}
#btn{
    width: 150px;
    height: 50px;
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}
#btn:hover{
    background-color: red;
    color: white;
}